<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="">MS Logistics | Пользователь</a>
    <ul class="navbar-nav ">
      <li class="nav-item" *ngIf="this.authService.isAuth ">
        <a ngif class="nav-link" routerLinkActive="active" routerLink="place-order">Разметить заказ на доставку</a>
      </li>
      <li class="nav-item" *ngIf="this.authService.isAuth ">
        <a ngif class="nav-link" routerLinkActive="active" routerLink="user-dashboard">Мой Аккаунт</a>
      </li>
      <li class="nav-item" *ngIf="this.authService.isAuth">
        <a ngif class="nav-link" routerLinkActive="active" routerLink="my-orders">Мои заказы</a>
      </li>
      <li class="nav-item" *ngIf="!this.authService.isAuth">
        <a ngif class="nav-link" routerLinkActive="active" routerLink="login">Войти в аккаунт</a>
      </li>

    </ul>
    <li class="nav-item ml-auto" *ngIf="this.authService.isAuth">
      <button (click)="logout()" class="btn btn-danger">Выйти</button>
    </li>
  </div>
</nav>

<div class="container">
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
