<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <p class="navbar-brand">MS Logistics </p>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!this.authService.isAuth">
        <a ngif class="nav-link" routerLinkActive="active" routerLink="/login">Войти в аккаунт</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="col-md-6 ml-auto mr-auto text-left">
    <h3 class="text-center mb-3">Форма входа</h3>
    <div class="container text-center">
      <div class="alert alert-danger" *ngIf="message">
        {{message}}
      </div>
      <div class="form-group">
        <label class="form-label" for="email_input">Email:</label>
        <input [(ngModel)]="this.email" class="form-control" type="email" name="email" #userEmail="ngModel" required
          id="email_input">
        <small [hidden]="userEmail.valid || userEmail.untouched">
          Введите логин
        </small>
      </div>
      <div class="form-group">
        <label for="password_input">Пароль:</label>
        <input [(ngModel)]="this.password" class="form-control" type="password" name="password" #userPassword="ngModel"
          required id="password_input">
        <small [hidden]="userPassword.valid || userPassword.untouched">
          Введите пароль
        </small>
      </div>

      <div class="row text-left mt-5">
        <div class="col-6">
          <h6 class="mb-2">Предопределенные учетные записи</h6>
          <button (click)="signIn('customer@customer.cm', 'customer@customer.cm')" class="mb-2 btn btn-primary" style="margin-left:5px;">Войти как клиент</button> <br>
          <button (click)="signIn('manager@manager.mg','manager@manager.mg')" class="mb-2 btn btn-primary"
            style="margin-left:5px;">Войти как менеджер</button><br>
          <button (click)="signIn('warehouse@warehouse.wh', 'warehouse@warehouse.wh')" class="mb-2 btn btn-primary"
            style="margin-left:5px;">Войти как складской рабочий</button><br>
          <button (click)="signIn('courier@courier.cr', 'courier@courier.cr')" class="mb-2 btn btn-primary"
            style="margin-left:5px;">Войти как курьер</button><br>
        </div>
        <div class="col-6">
          <h6 class="mb-2">Создать и войти через свой профиль (как клиент)</h6>
          <button [disabled]="userEmail.invalid || userPassword.invalid" (click)="signIn()" class="mb-2 btn btn-primary"
            style="margin-left:5px;">Войти</button><br>
          <button [disabled]="userEmail.invalid || userPassword.invalid" (click)="signUp()"
            class="btn btn-success">Зарегистрироваться</button>
        </div>
      </div>
    </div>

