  <div class="row mt-4">
    <div class="col-md-2 text-сenter">
      <h4 class="">Фильтры по статусу</h4>
      <!-- Статус "НОВЫЙ" ->> СФОРМИРОВАТЬ; статус "УКОМПЛЕКТОВАН" ->> В РАБОТУ; статус "В РАБОТЕ"; статус "ДОСТАВЛЯЕТСЯ"-->
      <button *ngIf="this.userRole == 'Менеджер'" id="Все" (click)="changeFilter('Все')"
        class="ml-2 mb-2 w-100 btn btn-warning"> Все
        заказы
      </button>
      <button *ngIf="this.userRole == 'Менеджер'" id="Новый" (click)="changeFilter('Новый')"
        class="ml-2 mb-2 w-100 btn btn-danger">
        Новый
      </button>
      <button *ngIf="this.userRole == 'Менеджер'" id="Сформирован" (click)="changeFilter('Сформирован')"
        class="ml-2 mb-2 w-100 btn btn-primary">
        Сформирован
      </button>
      <button *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Склад'" id="Комплектуется"
        (click)="changeFilter('Комплектуется')" class="ml-2 mb-2 w-100 btn btn-primary">
        Комплектуется
      </button>
      <button *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Склад'" id="Укомплектован"
        (click)="changeFilter('Укомплектован')" class="ml-2 mb-2 w-100 btn btn-primary">
        Укомплектован
      </button>
      <button *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Курьер'" id="Вработе"
        (click)="changeFilter('В работе')" class="ml-2 mb-2 w-100 btn btn-primary">
        В работе
      </button>
      <button *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Курьер'" id="Доставляется"
        (click)="changeFilter('Доставляется')" class="ml-2 mb-2 w-100 btn btn-primary">
        Доставляется
      </button>
      <button *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Курьер'" id="Готов"
        (click)="changeFilter('Готов')" class="ml-2 mb-2 w-100 btn btn-success">
        Готов
      </button>
      <button *ngIf="this.userRole == 'Менеджер'" id="Отменен" (click)="changeFilter('Отменен')"
        class="ml-2 mb-2 w-100 btn btn-danger">
        Отменен
      </button>
    </div>


    <div class="col-md-10">
      <h3 class="mb-2 mt-2">Список заказов по фильтру "{{this.currentCategory}}"</h3>
      <div *ngIf="isAll;else filter">
        <div *ngIf="this.orderList!==undefined; else loading">
          <div *ngIf="this.orderList.length; else empty">
            <div class="order-list" *ngFor="let order of this.orderList ; trackBy: trackByItems">
              <app-admin-order-cards [order]="order "></app-admin-order-cards>
            </div>
          </div>
        </div>
      </div>
      <ng-template #filter>
        <div *ngIf="this.filterArr!==undefined; else loading">
          <div *ngIf="this.filterArr.length; else empty">
            <div class="order-list" *ngFor="let order of this.filterArr ; trackBy: trackByItems">
              <app-admin-order-cards [order]="order "></app-admin-order-cards>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-template #empty>Заказов нет...</ng-template>
    <ng-template #loading>Загрузка...</ng-template>
