
<div class="wrapper">

  <div class="row mt-4">

    <!-- <div class="col-2">
      <div *ngIf="this.userData && this.userRole">
        <h4>Данные аккаунта</h4><br>
        <b> Email пользователя:</b> {{this.userData.email}} <br><br>
        <b> Роль:</b> {{this.userRole}} <br>
      </div>
    </div> -->

    <div class="col-2 text-сenter">
      <h4 class="">Фильтры по статусу</h4>
      <!-- Статус "НОВЫЙ" ->> СФОРМИРОВАТЬ; статус "УКОМПЛЕКТОВАН" ->> В РАБОТУ; статус "В РАБОТЕ"; статус "ДОСТАВЛЯЕТСЯ"-->
      <a *ngIf="this.userRole == 'Менеджер'" href="/admin/admin-panel#Все" id="Все" (click)="changeFilter('Все')"
        class="ml-2 mb-2 w-100 btn btn-warning"> Все
        заказы
    </a>
      <a *ngIf="this.userRole == 'Менеджер'" href="/admin/admin-panel#Новый" id="Новый" (click)="changeFilter('Новый')"
        class="ml-2 mb-2 w-100 btn btn-danger">
        Новый
    </a>
      <a *ngIf="this.userRole == 'Менеджер'" href="/admin/admin-panel#Сформирован" id="Сформирован"
        (click)="changeFilter('Сформирован')" class="ml-2 mb-2 w-100 btn btn-primary">
        Сформирован
      </a>
      <a *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Склад'" href="/admin/admin-panel#Комплектуется"
        id="Комплектуется" (click)="changeFilter('Комплектуется')" class="ml-2 mb-2 w-100 btn btn-primary">
        Комплектуется
      </a>
      <a *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Склад'" href="/admin/admin-panel#Укомплектован"
        id="Укомплектован" (click)="changeFilter('Укомплектован')" class="ml-2 mb-2 w-100 btn btn-primary">
        Укомплектован
      </a>
      <a *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Курьер'" href="/admin/admin-panel#Вработе" id="Вработе"
        (click)="changeFilter('В работе')" class="ml-2 mb-2 w-100 btn btn-primary">
        В работе
      </a>
      <a *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Курьер'" href="/admin/admin-panel#Доставляется"
        id="Доставляется" (click)="changeFilter('Доставляется')" class="ml-2 mb-2 w-100 btn btn-primary">
        Доставляется
      </a>
      <a *ngIf="this.userRole == 'Менеджер' || this.userRole == 'Курьер'" href="/admin/admin-panel#Готов" id="Готов"
        (click)="changeFilter('Готов')" class="ml-2 mb-2 w-100 btn btn-success">
        Готов
      </a>
      <a *ngIf="this.userRole == 'Менеджер'" href="/admin/admin-panel#Отменен" id="Отменен"
        (click)="changeFilter('Отменен')" class="ml-2 mb-2 w-100 btn btn-danger">
        Отменен
      </a>
    </div>

    <div class="col-10">
      <div *ngIf="this.orderList!== undefined; else loading">
        <h4>Список заказов по фильтру "{{this.currentCategory}}"</h4>
        <div *ngIf="this.filterArr !==undefined ; else loading ">
          <div *ngIf="this.filterArr.length ; else empty ">
            <div class="order-list" *ngFor="let order of this.filterArr ; trackBy: trackByItems">
              <app-admin-order-cards [order]="order "></app-admin-order-cards>
            </div>
          </div>
        </div>
      </div>
      <ng-template #empty>Заказов по этому статусу нет</ng-template>
      <ng-template #loading>Загрузка...</ng-template>
    </div>
  </div>
</div>
