<h3 class="text-center">Подробности заказа №{{this.id}}</h3>

<div *ngIf="order" class="text-center">
  <p><b>Дата оформления: </b>{{order.order.date.seconds*1000  | date:'longDate':'ru_RU'}}</p>
  <p> <b> Имя отправителя: </b>{{order.order.customer_name}}</p>
  <p><b> Фамилия отправителя:</b> {{order.order.customer_lastname}}</p>
  <p><b> Имя получателя:</b> {{order.order.recipient_name}}</p>
  <p><b> Фамилия получателя:</b> {{order.order.recipient_lastname}}</p>
  <p> <b>Адрес отправления:</b> {{order.order.start}}</p>
  <p> <b>Адрес получения:</b> {{order.order.end}}</p>
  <p> <b> Содержимое посылки: </b>{{order.order.description}}</p>
  <h5>
    <p> <b> Статус заказа:</b> {{order.order.status}} </p>
  </h5>

  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-primary" (click)="goBack()">Назад</button>
    </div>
    <div class="col">
      <button [disabled]="order.order.status!=='Новый' || order.order.status=='Отменен'" class="btn btn-warning"
        (click)="changeOrderStatus('Отменен')">Отменить заказ</button>
    </div>
  </div>
</div>
