<div class="wrapper mt-5">
    <h2 class="mb-5">Оформить заявку на доставку</h2>
  <div class="row">
    <div class="form-group col">
      <label for="customer_name">Имя отправителя</label>
      <input [(ngModel)]="this.customer_name" type="text" class="form-control" id="customer_name" name="customer_name" />
    </div>
    <div class="form-group col">
      <label for="customer_lastname">Фамилия отправителя</label>
      <input [(ngModel)]="this.customer_lastname" type="text" class="form-control" id="customer_lastname" name="customer_lastname" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="customer_name">Имя получателя</label>
      <input [(ngModel)]="this.recipient_name" type="text" class="form-control" id="recipient_name" name="recipient_name" />
    </div>
    <div class="form-group col">
      <label for="customer_lastname">Фамилия получателя</label>
      <input [(ngModel)]="this.recipient_lastname" type="text" class="form-control" id="recipient_lastname" name="recipient_lastname" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="customer_start">Адрес отправления</label>
      <input  [(ngModel)]="this.start" type="text" class="form-control" id="customer_start" name="start" />
    </div>
    <div class="form-group col">
      <label for="customer_end">Адрес получения</label>
      <input  [(ngModel)]="this.end" type="text" class="form-control" id="customer_end" name="end" />
    </div>
  </div>
  <div class="form-group">
    <label for="type">Содержимое посылки</label>
    <input  [(ngModel)]="this.description" type="text" class="form-control" id="type" name="type" />
  </div>

  <button type="submit" (click)="submitForm()" class="btn btn-primary">Оформить</button>

</div>
